#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
    width: 100%;
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}

aside {
    flex: 1;
    width: 75%;
    padding: 40px;
    text-align: center;
    background-color: #2f2f2f;
    border: 1px solid lightslategray;
}

main {
    flex: 1;
    width: 25%;
    padding: 40px;
    text-align: center;
    background-color: #2f2f2f;
    border: 1px solid lightslategray;
}

p {
    font-size: 18px;
}

pre {
    font-size: 20px;
}

.basic-buttons {
    background-color: #ff0e60;
}

.gen-buttons {
    background-color: #753efa;
}